/*****************
Global Layout Set-up
******************/

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #2d3945;
  background: #fff;
}

header, main, footer {
    margin: auto;
  }

h1 {
  font-family: 'Amaranth', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Amaranth', sans-serif;
}

h3 {
  font-weight: normal;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.4em;
}

p {
  color: #b7bcbf;
}

.flex {
  display: flex;
}

/*****************
Link Styles 
******************/

a {
  text-decoration: none;
  color: #999;
  transition: all .5s;
}
a:hover {
  color: #6633ff;
}

/*****************
Section Styles 
******************/
.banner {
  background-color: #2d3945;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
}

header {
  border-bottom: 5px solid #2d3945;;
}

fieldset {
  flex-direction: column;
}

fieldset {
  border-top: 2px solid #2d3945;
}

legend {
  display: block;
}

/*****************
Styles for desktop 
******************/

@media screen and (min-width: 768px) {
  header, main, footer {
    max-width: 800px;
  }

}