/*****************
Global Layout Set-up
******************/

* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #2d3945;
  background: #fff;
}

header, main, footer {
    margin: auto;
    width: 90%;
  }

h1 {
  font-family: 'Amaranth', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Amaranth', sans-serif;
}

h3 {
  font-weight: normal;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.4em;
}

p {
  color: #b7bcbf;
}

.flex {
  display: flex;
}

/*****************
Link Styles 
******************/

a {
  text-decoration: none;
  color: #999;
  transition: all .5s;
}
a:hover {
  color: #6633ff;
}

/*****************
Section Styles 
******************/
.banner {
  background-color: #2d3945;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
}

header {
  border-bottom: 5px solid #2d3945;
}

form {
  margin-top: 3px;
  border-top: 2px solid #2d3945;
  background-color: #c8e4e2;
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
}

fieldset {
  flex-direction: column;
  border: 0;
}

legend {
  display: block;
  font-size: 1.5em;
  margin-top: 30px;
  font-family: 'Amaranth', sans-serif;
}

.field-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px 0;
}

label {
  text-align: left;
  margin-bottom: 15px;
}

input, textarea, select {
  border: 0;
  background: #fff;
  border-radius: 5px;
  min-height: 35px;
  padding: 10px;
  transition: background 1s;
}

textarea:focus, input:focus, select:focus {
  border: 2px solid #188e85;
  background: #FFFeDF;
  transition: background 1s;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
    font-style: italic;
    text-align: right;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    font-style: italic;
    text-align: right;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    font-style: italic;
    text-align: right;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #999;
    font-style: italic;
    text-align: right;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #999;
    font-style: italic;
    text-align: right;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #999;
    font-style: italic;
    text-align: right;
}

select {
  color: #999;
}

option {
  color: #2d3945;
}

option:first-child {
  color: #999;
}

.newsletter .field-wrap {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter p {
  flex: 100% 1;
  text-align: left;
  color: #2d3945;
}

.newsletter .field-wrap input {
display: inline-block;
width: 5%;
} 

.newsletter .field-wrap label {
display: inline-block;
width: 95%;
text-align: left;
color: #2d3945;
padding-left: 1%;
align-items: center;
margin-bottom: 0;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 15px;
}

input[type="submit"] {
  background: #52bab3;
  border: 0px;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}

/*****************
Styles for desktop 
******************/

@media screen and (min-width: 768px) {
  header, main, footer {
    max-width: 800px;
  }
  .contact .field-wrap {
  flex-direction: row;
  align-items: center;
  }
  .contact input, .contact select {    
  flex: 70% 2;
  }
  .contact label {
    flex: 30% 1;
  }

}